<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuizEngine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>QuizEngine_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>086816381E571F2F009359E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>086816411E571F2F009359E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08CB6D7D1E672907003D96A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08CB6D851E672907003D96A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
